body {
    font-family: sans-serif;
    font-size:  16px;
    line-height: calc(24px / 16px);
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style: none;
    color: #434455;
}
a {

    text-decoration: none;
    color: #434455;
}
a:hover,
a:focus {
    color: #4D5AE5;
}
button:hover,
button:focus {
    cursor: pointer;
    color: #434455;
    font-weight: 500;  
}
h2 {
    font-size: 36;
    font-weight: 700;
    line-height: calc(40px / 36px);
}
h3 {
    font-size: 20;
    font-weight: 500;
    line-height: calc(24px / 20px);
}

.header {
    background-color: #E7E9FC;
}
.header-links{
        font-weight: 500;
}
.header-logo{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}
.hero{
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60px / 56px);
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    width: 1440px;
    height: 600px;
    padding: 72px;
}
.hero-title{
        width: 496px;
        height: 120px;
        margin-left: 472px;
}
.hero-button{
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.team {
    background-color: #FFFFFF;
}
.footer{
    background-color:#2E2F42;
}
.footer-logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: calc(21px / 18px);
        text-transform: uppercase;
        font-weight: 700;
        color: #FFFFFF;
    }
.footer-text{
    color:#F4F4FD;
}